.Badges__container-card {
  display: flex;

  /* justify-content: center; */
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 30px;
  box-shadow: 2px 4px #88888880;
  border-radius: 15px;
  line-height: 0.1;
}

.Badges__container-avatar {
  padding-right: 30px;
}

.Badges__container-avatar img {
  border-radius: 50%;
}

.Badges__container-info {
  margin: 0;
  padding: 0;
}

.Badges__container-info p {
  margin: 0;
  padding: 0;
}

.Badges__container-info h5 {
  margin: 0;
  padding: 0;
}

.Badges__container-twitter {
  color: rgb(82, 221, 240);
}
